@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Drama */
[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}

/* Drama / Stage Directions */
[epub|type~="z3998:stage-direction"].editorial::before{
	content: "[";
}

[epub|type~="z3998:stage-direction"].editorial::after{
	content: "]";
}

/* Poetry */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

/* Song */
[epub|type~="z3998:hymn"] hgroup p,
[epub|type~="z3998:poem"] hgroup p,
[epub|type~="z3998:song"] hgroup p,
[epub|type~="z3998:verse"] hgroup p{
	text-align: center;
}

/* Abbreviations */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* Custom */
#epitaph-ottonieri{
	text-align: center;
}

#epitaph-ottonieri b{
	font-size: larger;
}
